<div class="global-area ptb-70" style="background: linear-gradient(135deg, #ff0000, #b30000);">
  <div class="container">
      <div class="section-title">
          <h2>Confiado en todo México y el mundo</h2>
          <div class="bar"></div>
          <p>En Banorte, nos enorgullece brindar soluciones financieras que apoyan a millones de clientes a nivel local e internacional, con servicios confiables y de alta calidad.</p>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-5 col-md-12">
              <div class="global-content">
                  <ul>
                      <li>20 millones de clientes en México</li>
                      <li>3M+ transacciones diarias procesadas</li>
                      <li>Presencia en 30 países a través de alianzas internacionales</li>
                      <li>Más de 1,000 sucursales a nivel nacional</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="global-image text-center">
                <img src="images/mundo.png" alt="image" style="width: 75%; height: auto;">
            </div>
          </div>
      </div>
  </div>
</div>
