<div class="subscribe-wrap-area pb-70">
    <div class="container">
        <div
            class="subscribe-wrap-inner-box"
            style="background-image: url(images/home-six/subscribe-wrap-bg.jpg);"
        >
            <div class="subscribe-wrap-box-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-content">
                            <h3>Subscribe our nesletter</h3>
                            <p>Don’t miss any update on new promotions</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <form class="newsletter-form">
                            <input type="text" class="input-newsletter" placeholder="Enter your email address" name="email" required autocomplete="off">
                            <button type="submit" class="btn btn-primary">Subscribe Now<span></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>