<div class="business-area ptb-70" style="background: linear-gradient(135deg, #ff0000, #b30000);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="business-content">
                    <h2>Comienza con Banorte: Soluciones Financieras para Crecer</h2>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="single-business-box">
                              <h3>Impulsa tu crecimiento</h3>
                              <p>Aprovecha nuestras herramientas que maximizan el rendimiento de tu negocio. Optimiza tus operaciones con nuestros productos financieros.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="single-business-box">
                              <h3>Experiencias memorables</h3>
                              <p>Nuestro enfoque en el cliente garantiza un servicio ágil, eficiente y seguro. Tus clientes disfrutarán de procesos rápidos y sencillos.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="single-business-box">
                              <h3>Expansión global</h3>
                              <p>Te brindamos soluciones para que tu negocio opere internacionalmente. Simplifica pagos y transacciones en diferentes monedas y mercados.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="single-business-box">
                              <h3>Seguridad robusta</h3>
                              <p>Cada transacción está respaldada por la tecnología más avanzada en seguridad bancaria, para que tanto tú como tus clientes tengan la máxima tranquilidad.</p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="business-image">
                    <img src="images/finanzas.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
