<div class="partner-style-area pt-70 pb-45">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner1.png" alt="image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner2.png" alt="image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner3.png" alt="image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner4.png" alt="image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner5.png" alt="image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                <div class="single-partner-card text-center">
                    <a href="#" target="_blank" class="d-block">
                        <img src="images/home-six/partner/partner6.png" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>