<div class="about-area ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="images/fronteras.png" alt="image" style="width: 45%;height: auto;border-radius: 18px;">
                    <img src="images/fronteras1.png" alt="image" style="width: 45%;height: auto;border-radius: 18px;">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Crecimiento sin fronteras, soporte a tu medida</h2>
                    <p>Con Banorte, tu crecimiento no tiene límites. Te ofrecemos asistencia especializada en tu idioma, disponible las 24 horas, para apoyarte en cada etapa de tu negocio.</p>
                    <p>Ya sea que busques expandir tu empresa o personalizar servicios financieros, estamos a tu lado para garantizar que alcances tus metas de manera eficiente y segura.</p>
                    <a routerLink="/" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</div>
