<app-page-banner />

<div class="currency-transfer-provider-with-background-color">

    <!-- Business Currency Transfers -->
    <div class="ctp-currency-area ptb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div
                        class="ctp-currency-image"
                        style="background-image: url(images/currency-transfer-provider/currency.jpg);"
                    ></div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ctp-currency-content">
                        <h3>Business Currency Transfers</h3>
                        <p>Donec sollicitudin molestie malesuada. proin eget tortor risus. nulla rutrum congue quis lorem ut libero malesuada feugiat donec rutrum congue leo eget malesuada.</p>
                        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, consectetur adipiscing elit. pellentesque in ipsum id orci porta dapibus.</p>
                        <ul class="list">
                            <li> 
                                <img src="images/currency-transfer-provider/circle-check.svg" alt="image"> 
                                Receive Foreign Payments
                            </li>
                            <li>
                                <img src="images/currency-transfer-provider/circle-check.svg" alt="image"> 
                                Budget Effectively
                            </li>
                            <li>
                                <img src="images/currency-transfer-provider/circle-check.svg" alt="image"> 
                                Manage Currency Risk
                            </li>
                            <li>
                                <img src="images/currency-transfer-provider/circle-check.svg" alt="image"> 
                                Highly Competitive Exchange Rates
                            </li>
                        </ul>
                        <div class="currency-btn">
                            <a routerLink="/signup" class="btn btn-primary">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Business Currency Transfers -->

    <app-how-it-works />

    <app-key-features />    

    <!-- How We Can Help -->
    <div class="ctp-protecting-area pt-70 pb-45">
        <div class="container">
            <div class="section-title">
                <h2>How we can help</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="ctp-protecting-card">
                        <div class="content">
                            <div class="number">
                                <span>01</span>
                            </div>
                            <h3>Incoming payments</h3>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="ctp-protecting-card">
                        <div class="content">
                            <div class="number color-two">
                                <span>02</span>
                            </div>
                            <h3>Outgoing payments</h3>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="ctp-protecting-card">
                        <div class="content">
                            <div class="number color-two">
                                <span>03</span>
                            </div>
                            <h3>Risk management solutions</h3>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="ctp-protecting-card">
                        <div class="content">
                            <div class="number">
                                <span>04</span>
                            </div>
                            <h3>Online sellers</h3>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End How We Can Help -->

    <app-money-transfer />

    <div class="pt-70">
        <app-faq />
    </div>

</div>