<div class="testimonials-wrap-area ptb-70">
    <div class="container">
        <div class="testimonials-wrap-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="images/home-six/user.png" class="rounded-circle" alt="image">
                            <div class="title">
                                <h3>Alex Smith</h3>
                                <span>Founder & CEO</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="images/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="images/home-six/user.png" class="rounded-circle" alt="image">
                            <div class="title">
                                <h3>Steven Smith</h3>
                                <span>Web Developer</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="images/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="images/home-six/user.png" class="rounded-circle" alt="image">
                            <div class="title">
                                <h3>Sarah Taylor</h3>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="images/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="testimonials-wrap-shape">
        <img src="images/home-six/vector-shape-2.png" alt="image">
    </div>
</div>