<div class="how-it-works-area pt-70 pb-45">
    <div class="container">
        <div class="section-title">
            <h2>How Klob Works</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works1.png" alt="image">
                    <h3>1. Register for free</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works2.png" alt="image">
                    <h3>2. Choose an amount to send</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works3.png" alt="image">
                    <h3>3. Add recipient’s bank details</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works4.png" alt="image">
                    <h3>4. Verify your identity</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works5.png" alt="image">
                    <h3>5. Pay for your transfer</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="images/how-it-works-image/how-it-works6.png" alt="image">
                    <h3>6. That’s it</h3>
                    <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>