<aside class="widget-area" id="secondary">
    <div class="widget widget_search">
        <form class="search-form">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search...">
            </label>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="widget widget_klob_posts_thumb">
        <h3 class="widget-title">Popular Posts</h3>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span
                    class="fullimage cover"
                    role="img"
                    style="background-image: url(images/blog-image/blog1.jpg);"
                ></span>
            </a>
            <div class="info">
                <time datetime="2023-06-30">June 10, 2023</time>
                <h4 class="title usmall"><a routerLink="/blog-details">Making Peace With The Feast Or Famine Of Freelancing</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span
                    class="fullimage cover"
                    role="img"
                    style="background-image: url(images/blog-image/blog2.jpg);"
                ></span>
            </a>
            <div class="info">
                <time datetime="2023-06-30">June 21, 2023</time>
                <h4 class="title usmall"><a routerLink="/blog-details">I Used The Web For A Day On A 50 MB Budget</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span
                    class="fullimage cover"
                    role="img"
                    style="background-image: url(images/blog-image/blog3.jpg);"
                ></span>
            </a>
            <div class="info">
                <time datetime="2023-06-30">June 30, 2023</time>
                <h4 class="title usmall"><a routerLink="/blog-details">How To Create A Responsive Popup Gallery?</a></h4>
            </div>
            <div class="clear"></div>
        </article>
    </div>
    <div class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li><a routerLink="/blog-details">How to Become a Successful Entry Level UX Designer</a></li>
            <li><a routerLink="/blog-details">How to start your business as an entrepreneur</a></li>
            <li><a routerLink="/blog-details">How to be a successful entrepreneur</a></li>
            <li><a routerLink="/blog-details">10 Building Mobile Apps With Ionic And React</a></li>
            <li><a routerLink="/blog-details">Protect your workplace from cyber attacks</a></li>
        </ul>
    </div>
    <div class="widget widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
            <li><a routerLink="/">May 2023</a></li>
            <li><a routerLink="/">April 2023</a></li>
            <li><a routerLink="/">June 2023</a></li>
        </ul>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li><a routerLink="/">Business</a></li>
            <li><a routerLink="/">Privacy</a></li>
            <li><a routerLink="/">Technology</a></li>
            <li><a routerLink="/">Tips</a></li>
            <li><a routerLink="/">Uncategorized</a></li>
        </ul>
    </div>
    <div class="widget widget_meta">
        <h3 class="widget-title">Meta</h3>
        <ul>
            <li><a routerLink="/">Log in</a></li>
            <li><a routerLink="/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a routerLink="/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a routerLink="/">WordPress.org</a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a routerLink="/">IT <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/">Klob <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/">Games <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/">Fashion <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/">Travel <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/">Smart <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/">Marketing <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/">Tips <span class="tag-link-count"> (2)</span></a>
        </div>
    </div>
</aside>