<div class="blog-wrap-area pt-70 pb-45">
    <div class="container">
        <div class="wrap-section-title">
            <span>Our Blog</span>
            <h2>We make banking faster & easier, so you can do more</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="images/home-six/blog1.jpg" alt="image">
                        </a>
                        <span class="date">October 30, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">Protect Your Workplace from Cyber Attacks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="images/home-six/blog2.jpg" alt="image">
                        </a>
                        <span class="date">October 30, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">The security risks of changing package owners</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="images/home-six/blog3.jpg" alt="image">
                        </a>
                        <span class="date">October 30, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">10 Tips To Reduce Your Card Processing Costs</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>