<div class="partner-area-two ptb-70">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnersSlides">
                <ng-template carouselSlide>
                    <div class="single-partner-item">
                        <img src="images/partner1.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item">
                        <img src="images/partner2.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item">
                        <img src="images/partner3.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item">
                        <img src="images/partner4.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item">
                        <img src="images/partner5.png" alt="image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>