<div class="signup-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div
                class="signup-image"
                style="background-image: url(images/fotos/edificioBanorte.jpg);"
            >
                
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
            <div class="signup-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="signup-form">
                            <div class="logo">
                                <a routerLink="/" class="d-inline-block">
                                    <img src="images/logos/BanorteNegro.png" alt="image">
                                </a>
                            </div>
                            <h3>Crea tu cuenta</h3>
                            <p>Ya tienes Cuenta? <a routerLink="/signin">Inicia Sesion</a></p>
                            <form>
                                <div class="form-group mb-3">
                                    <input type="email" name="email" id="email" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" name="password" id="password" placeholder="Crea contraseña" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" name="password" id="password" placeholder="Repite Contraseña" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Sign Up
                                </button>
                                <div class="connect-with-social">
                                    <span>Or</span>
                                    <button type="submit" class="facebook">
                                        <i class="fab fa-facebook-square"></i> Connect with Facebook
                                    </button>
                                    <button type="submit" class="google">
                                        <i class="fab fa-google"></i> Connect with Google
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>