.get-started-area {
    background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #B70000 0%, #FF003D 74.04%), linear-gradient(341.1deg, #FF0000 7.52%, #0038FF 77.98%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
    background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
}
.get-started-title {
    h2 {
        color: var(--whiteColor);
        margin-bottom: 30px;
        font-size: 40px;
    }
}
.get-started-content {
    p {
        color: #e9fffe;
        font-size: 20px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .get-started-title {
        text-align: center;

        h2 {
            font-size: 27px;
            margin-bottom: 25px;
        }
    }
    .get-started-content {
        text-align: center;
        margin-top: 25px;

        p {
            font-size: 14px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .get-started-title {
        text-align: center;
    }
    .get-started-content {
        text-align: center;
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}