<div class="get-started-area ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="get-started-title">
                    <h2>Ready to get started?</h2>
                    <a routerLink="/sign-up" class="btn btn-primary">Sign Up Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="get-started-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p>
                </div>
            </div>
        </div>
    </div>
</div>