<div class="get-started-area ptb-70">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 col-md-12">
              <div class="get-started-title">
                  <h2>¿Listo para comenzar?</h2>
                  <a routerLink="/sign-up" class="btn btn-primary">Comienza ahora</a>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="get-started-content">
                  <p>En Banorte, te ofrecemos las soluciones financieras que necesitas para hacer crecer tu negocio. Con nuestra plataforma segura y eficiente, podrás manejar tus transacciones de manera rápida y confiable.</p>
              </div>
          </div>
      </div>
  </div>
</div>
