<div class="payment-features-area ptb-70">
  <div class="container">
      <div class="payment-features-overview">
          <div class="payment-features-image">
              <div class="image">
                  <img src="images/crecer.png" alt="image">
              </div>
          </div>
          <div class="payment-features-content">
              <div class="content">
                  <h2>Procesamiento de pagos para comercios minoristas</h2>
                  <p>En Banorte, facilitamos que los comercios minoristas puedan procesar pagos de manera rápida, segura y eficiente. Ofrecemos soluciones integrales para terminales de punto de venta (TPV) y herramientas avanzadas para gestionar todas tus transacciones.</p>
                  <p>Nuestra plataforma te permite aceptar pagos con tarjetas de débito, crédito y métodos electrónicos con la confianza que solo Banorte puede ofrecer, garantizando transacciones seguras en todo momento.</p>
                  <p>Ya sea que manejes un pequeño comercio o una cadena de tiendas, nuestras soluciones de pago están diseñadas para adaptarse a tus necesidades, garantizando la satisfacción y fidelización de tus clientes.</p>
                  <a routerLink="/" class="link-btn">Comienza ahora</a>
              </div>
          </div>
      </div>
      <div class="payment-features-overview">
          <div class="payment-features-content">
              <div class="content">
                  <h2>Procesamiento de pagos en línea y comercio electrónico</h2>
                  <p>Las soluciones de procesamiento de pagos en línea de Banorte te permiten recibir pagos de manera fácil y segura. Ya sea que administres una tienda en línea o necesites gestionar transacciones electrónicas, Banorte te proporciona las herramientas para optimizar tus operaciones digitales.</p>
                  <p>Nos integramos con las principales plataformas de comercio electrónico y ofrecemos soporte para pagos en diversas monedas, facilitando las ventas internacionales y mejorando tu alcance global.</p>
                  <p>Con Banorte, puedes confiar en que tus clientes tendrán una experiencia de compra rápida y segura, mejorando la satisfacción y aumentando la lealtad de tus clientes.</p>
                  <a routerLink="/" class="link-btn">Comienza ahora</a>
              </div>
          </div>
          <div class="payment-features-image">
              <div class="image">
                  <img src="images/seguro.png" alt="image">
              </div>
          </div>
      </div>
  </div>
</div>
