<div class="services-area ptb-70">
    <div class="container-fluid p-0">
      <div class="overview-box align-items-center">
        <div class="overview-content">
          <div class="content left-content">
            <h2>Usa Nuestra IA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="overview-image">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" style="padding: 2rem;">
            <div class="form-group">
              <label>¿Que tipo de servicio buscas?</label><!--tarjeta credito debito o otro-->
              <select class="form-control"  formControlName="servicio" (change)="onServicioChange($event)">
                <option value="Debito" >Debito</option>
                <option value="Credito">Credito</option>
                <option value="Otro">Otro</option>
              </select>
            </div>

            <div class="form-group">
                <label>¿Tema de tu interes?</label><!--tarjeta credito debito o otro-->
              <select class="form-control"  formControlName="interes" (change)="onInteresChange($event)" >
                <option value="Promociones" >Promociones</option>
                <option value="Beneficios">Beneficios</option>
                <option value="Cashback">Cashback</option>
              </select>
            </div>
            <!-- <div class="form-group">
                <select class="form-control"  formControlName="metasFinancieras" >
                    <option selected>ahorar</option>
                    <option>invertir</option>
                    <option>retiro</option>
                </select>
            </div> -->
            <!-- <div class="form-group">
              <label for="inputAddress2">Tipo de compras realizas</label>
              <input type="text" class="form-control" id="inputAddress2" formControlName="address2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group">
              <label for="inputCity">que valoras mas en una tarjeta</label>
              <input type="text" class="form-control" id="inputCity" formControlName="city">
            </div>
            <div class="form-group">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control" formControlName="state">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip" formControlName="zip">
            </div> -->
            <button [disabled]="this.form.invalid" type="submit" class="btn btn-primary" style="margin-top: 1rem;">
                Generar IA
                <div *ngIf="spinnerIA" style="margin-left: 1rem; width: 1rem; height: 1rem   ;" class="spinner-border" role="status">
                    <span  class="sr-only">Loading...</span>
                </div>

            </button>
          </form>
        </div>
      </div>
      <div  *ngIf="textIA" style="text-align: center; padding: 2rem;">
        <!-- <textarea []="resIA"  style="height: 13rem; width: 100%;"></textarea> -->
        <div [innerHTML]="resIA"></div> 
      </div>
      <div style="display: flex; justify-content: center;">
        <button class="btn btn-primary nav-link"  *ngIf="textIA" routerLink="/signup">Crear Cuenta</button>
      </div>
      
      
    </div>
</div>

  