<div class="banner-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>Porque somos más que un Banco </h1>
                    <p>En Banorte, no solo ofrecemos productos financieros; acompañamos el crecimiento de tu negocio y bienestar personal. Nuestras soluciones están diseñadas para que logres tus metas, sin importar en qué etapa te encuentres.
                    </p>
                    <a routerLink="/" class="btn btn-primary">Inicia Sesion</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="images/banner-img1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
