<div class="payment-experience-area bg-f4fcff ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="payment-experience-content">
                    <h2>Crea experiencias de pago sin fricciones</h2>
                    <p>En Banorte, ofrecemos soluciones de pago que se adaptan a las necesidades de tu negocio, facilitando transacciones seguras y rápidas. Nos enfocamos en brindarte herramientas que simplifiquen el proceso, para que puedas concentrarte en lo que más importa: el crecimiento de tu empresa.</p>
                    <p>Con nuestras soluciones integradas, tus clientes disfrutarán de una experiencia de pago fluida y sin complicaciones, garantizando la satisfacción en cada interacción. En Banorte, combinamos innovación y seguridad para ofrecerte un servicio de confianza.</p>
                    <a routerLink="/" class="link-btn">Start with payments</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="payment-experience-image text-center">
                  <img _ngcontent-ng-c2409450932="" src="images/rapido.png" alt="image" style="width: 45%;height: auto;border-radius: 18px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-payment-experience-box">
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <h3>Crecimiento rapido</h3>
                    <p>Impulsa el crecimiento de tu negocio con nuestras soluciones de pago, diseñadas para aumentar la eficiencia y reducir los costos operativos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-payment-experience-box">
                    <div class="icon">
                        <i class="fab fa-audible"></i>
                    </div>
                    <h3>Experiencias increíbles</h3>
                    <p>Ofrecemos experiencias de usuario excepcionales con pagos sin fricciones y un servicio personalizado para cada cliente.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-payment-experience-box">
                    <div class="icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h3>Pagos globales</h3>
                    <p>Facilitamos tus transacciones internacionales, permitiéndote crecer y operar en múltiples mercados con total confianza.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-payment-experience-box">
                    <div class="icon">
                        <i class="fab fa-expeditedssl"></i>
                    </div>
                    <h3>Pagos seguros</h3>
                    <p>Nos preocupamos por la seguridad de tus transacciones. Con Banorte, puedes confiar en un sistema robusto y confiable que protege tus datos y el dinero de tus clientes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
