/* You can add global styles to this file, and also import other style files */
:root {
    --fontFamily: 'Roboto', sans-serif;
    --headingFontFamily: 'Raleway', sans-serif;
    --primaryColor: #ee0979;
    --primaryGradientColor: linear-gradient(90deg, rgba(238,9,121,1) 0%, rgba(255,106,0,1) 100%);
    --secondaryColor: #44ce6f;
    --secondaryGradientColor: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    --bodyColor: #888E9E;
    --blackColor: #0e314c;
    --whiteColor: #ffffff;
    --bodyColor: #6084a4;
    --transition: .5s;
    --fontSize: 15px;
    --rojo: #c70000;
    --blanco: #FFFFFF;
    --negro:  #000;
    --gris:#606060;


}
body {
    margin: 0;
    padding: 0;
    color: var(--bodyColor);
    font: {
        family: var(--fontFamily);
        size: var(--fontSize);
    };
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--blackColor);
    font: {
        weight: 300;
        family: var(--headingFontFamily);
    };
}
p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: var(--bodyColor);
    font: {
        weight: 300;
        size: var(--fontSize);
        family: var(--fontFamily);
    }
    &:last-child {
        margin-bottom: 0;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
a {
    text-decoration: none;
    outline: 0 !important;
    color: var(--blackColor);
    transition: var(--transition);

    &:hover {
        color: var(--primaryColor);
        text-decoration: none;
    }
}
:focus {
    outline: 0 !important;
}

// Padding
.ptb-70 {
    padding: {
        top: 70px;
        bottom: 70px;
    };
}
.pt-70 {
    padding-top: 70px;
}
.pb-70 {
    padding-bottom: 70px;
}
.ptb-45 {
    padding: {
        top: 45px;
        bottom: 45px;
    };
}
.pt-45 {
    padding-top: 45px;
}
.pb-45 {
    padding-bottom: 45px;
}

// BG Colors
.bg-f7fafd {
    background-color: #f7fafd;
}
.bg-f6f4f8 {
    background-color: #f6f4f8;
}
.bg-f4fcff {
    background-color: #f4fcff;
}

// Button
.btn {
    transition: var(--transition);
    text-transform: uppercase;
    line-height: initial;
    padding: 14.5px 30px;
    position: relative;
    border-radius: 4px;
    border: none;
    z-index: 1;
    font: {
        size: 14px;
        weight: 700;
    };
    &.disabled, &:disabled {
        opacity: 1;
    }
}
.btn-primary {
    background-color: transparent;
    color: var(--whiteColor);

    &::before {
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        content: '';
        height: 100%;
        border-radius: 4px;
        position: absolute;
        transition: var(--transition);
        background: var(--rojo);
    }
    &::after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        
        content: '';
        z-index: -1;
        height: 100%;
        border-radius: 4px;
        visibility: hidden;
        position: absolute;
        transition: var(--transition);
        background: var(--gris);
    }
    &:hover, &:focus {
        background-color: transparent !important;
        color: var(--whiteColor) !important;
        box-shadow: unset !important;

        &::before {
            opacity: 0;
            visibility: hidden;
        }
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Section Title
.section-title {
    text-align: center;
    max-width: 720px;
    margin: {
        top: -7px;
        left: auto;
        right: auto;
        bottom: 45px;
    }
    h2 {
        margin-bottom: 0;
        font-size: 40px;
    }
    .bar {
        height: 5px;
        width: 90px;
        position: relative;
        border-radius: 30px;
        background: #cdf1d8;
        margin: 15px auto 20px;

        &::before {
            left: 0;
            width: 10px;
            content: '';
            top: -2.6px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            background: var(--secondaryColor);
            animation: {
                duration: 3s;
                name: MOVE-BG;
                timing-function: linear;
                iteration-count: infinite;
            };
        }
    }
    p {
        max-width: 500px;
        margin: {
            bottom: 0;
            left: auto;
            right: auto;
        }
    }
}
.wrap-section-title {
    max-width: 535px;
    margin: -4px 0 45px 0;

    span {
        margin-bottom: 15px;
        letter-spacing: 1px;
        display: inline-block;
        color: var(--primaryColor);
        font: {
            weight: 400;
            size: 16.5px;
        };
    }
    h2 {
        font-size: 40px;
        margin-bottom: 0;
    }
}

// Form Control
.form-control {
    height: 50px;
    padding: 0 15px;
    border-radius: 0;
    line-height: 50px;
    color: var(--blackColor);
    font-size: var(--fontSize);
    border: 1px solid #eeeeee;
    transition: var(--transition);
    background-color: var(--whiteColor);

    &:focus {
        box-shadow: unset !important;
        border-color: var(--primaryColor);
    }
}

// Keyframes
@keyframes iconTop {
    0% {
        transform: translate(-50%, 0);
    }
    25% {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    50% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
@keyframes MOVE-BG {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(88px);
    }
}
@keyframes rotateMe {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes moveBounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes moveLeftBounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes ripple {
    0%, 35% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

// Video Popup
.video-popup {
    z-index: 9992;
    background-color: rgba(0, 0, 0, 0.8);

    .popup-inner {
        width: 950px;
        padding: 15px;
        
        iframe {
            width: 100%;
            height: 517px;
            margin-bottom: -5px;
        }
        .close-btn {
            top: -40px;
            width: 38px;
            right: -40px;
            height: 38px;
            font-size: 20px;
            position: absolute;
            background-color: red;
            color: var(--whiteColor);
            transition: var(--transition);

            &:hover {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
    }
}

// Pagination
.pagination-area {
    margin-top: 20px;
    text-align: center;

    .page-numbers {
        z-index: 1;
        width: 40px;
        height: 40px;
        margin: 0 3px;
        line-height: 42px;
        position: relative;
        display: inline-block;
        color: var(--blackColor);
        background: var(--whiteColor);
        box-shadow: 0 2px 10px 0 #d8dde6;
        font: {
            size: 16px;
            weight: 400;
        };
        &::before {
            top: 0;
            left: 0;
            opacity: 0;
            content: '';
            width: 100%;
            z-index: -1;
            height: 100%;
            visibility: hidden;
            position: absolute;
            transition: var(--transition);
            background: var(--primaryGradientColor);
        }
        &.current, &:hover, &:focus {
            color: var(--whiteColor);

            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }

    // Padding
    .ptb-70 {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .pt-70 {
        padding-top: 60px;
    }
    .pb-70 {
        padding-bottom: 60px;
    }
    .ptb-45 {
        padding: {
            top: 35px;
            bottom: 35px;
        };
    }
    .pt-45 {
        padding-top: 35px;
    }
    .pb-45 {
        padding-bottom: 35px;
    }

    // Section Title
    .section-title {
        max-width: 100%;
        margin: {
            left: 0;
            right: 0;
            top: -3px;
            bottom: 35px;
        }
        h2 {
            font-size: 26px;
        }
        .bar {
            height: 4px;
        }
        p {
            max-width: 100%;
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
    .wrap-section-title {
        margin: {
            top: -2px;
            bottom: 35px;
        };
        span {
            font-size: 14.5px;
        }
        h2 {
            font-size: 26px;
        }
    }

    // Button
    .btn {
        padding: 14px 25px;
        font-size: 13px;
    }

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 320px;
            padding: 0;
            
            iframe {
                height: 181px;
            }
            .close-btn {
                right: 0;
                width: 32px;
                height: 32px;
                font-size: 18px;
            }
        }
    }

    // Pagination
    .pagination-area {
        margin-top: 10px;
    
        .page-numbers {
            width: 35px;
            height: 35px;
            font-size: 14px;
            line-height: 37px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 540px;
            
            iframe {
                height: 306px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Section Title
    .section-title {
        max-width: 600px;
        margin: {
            top: -5px;
            bottom: 40px;
        };
    }
    .wrap-section-title {
        margin-bottom: 40px;
    }

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 720px;
            padding: 10px;
            
            iframe {
                height: 394px;
            }
            .close-btn {
                right: 0;
                top: -45px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 900px;
            
            iframe {
                height: 490px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
