<div class="funfacts-style-area">
    <div class="container">
        <div
            class="funfacts-style-inner-box ptb-70"
            style="background-image: url(images/home-six/funfacts-style-bg.jpg);"
        >
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>180K</h3>
                        <p>Downloaded</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>20K</h3>
                        <p>Feedback</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>500+</h3>
                        <p>Workers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>70+</h3>
                        <p>Contrubutors</p>
                    </div>
                </div>
            </div>
            <div class="contact-cta-box">
                <h3>Have any question about us?</h3>
                <p>Don't hesitate to contact us</p>
                <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>